body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main-logo {
  top: 1%;
  left: 1%;
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 25%;
}

header {
  display: flex;
  align-items: center;
  background-color: #b58e8e;
}

nav ul {
  display: inline-flex;
}

nav li {
  display: inline-block;
  font-weight: bold;
  padding: 5%;
  position: relative;
  left: 900px;
  font-size: 25px;
  color: #000;
}

li {
}
li a {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.welcome {
  text-align: center;
  padding: 5px;
}

.astronaut {
  width: 450px;
  height: 250px;
  position: absolute;
  left: 20%;
  top: 30%;
  border-radius: 5%;
}

.astronaut-headliner {
  width: 1000px;
  position: absolute;
  left: 46%;
  top: 32%;
}

.astronaut-text {
  width: 400px;
  position: absolute;
  left: 46%;
  top: 38%;
}

.house {
  width: 450px;
  height: 250px;
  position: absolute;
  left: 20%;
  top: 65%;
  border-radius: 5%;
}

.house-headliner {
  width: 1000px;
  position: absolute;
  left: 46%;
  top: 67%;
}

.house-text {
  width: 400px;
  position: absolute;
  left: 46%;
  top: 75%;
}

.solarsystem {
  width: 450px;
  height: 250px;
  position: absolute;
  left: 20%;
  top: 100%;
  border-radius: 5%;
}

.solarsystem-headliner {
  width: 1000px;
  position: absolute;
  left: 46%;
  top: 102%;
}

.solarsystem-text {
  width: 400px;
  position: absolute;
  left: 46%;
  top: 110%;
}

.line-1 {
  height: 1px;
  background-color: black;
  width: 60%;
  position: absolute;
  left: 22%;
  top: 137%;
}

.bottom-logo {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 42%;
  top: 145%;
}

h3 {
  position: absolute;
  left: 39%;
  top: 177%;
  color: grey;
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fa-facebook-f {
  position: absolute;
  left: 45%;
  top: 187%;
  font-size: 2em;
}

.fa-instagram {
  position: absolute;
  left: 50%;
  top: 187%;
  font-size: 2em;
}

.fa-twitter {
  position: absolute;
  left: 55%;
  top: 187%;
  font-size: 2em;
}

footer {
  text-align: center;
  padding: 0px;
  font-size: 2em;
  background-color: #b58e8e;
  position: relative;
  top: 2400%;
}
